html
  head
    title Test Title
  body
    div.react-component(data-rc-name="App")
      h1 Some Text Here
      header.react-component(data-rc-name="Header")
        ul
          li: a(href="#") Home
          li: a(href="#") About
      div.content.react-component(data-rc-name="Content")
        h2 Some Content Here
